/* Pandoc header DIV. Contains .title, .author and .date. Comes before div#TOC. 
   Only appears if one of those three are in the document.
*/
div#header, header
    {
    /* Put border on bottom. Separates it from TOC or body that comes after it. */
    border-bottom: 1px solid;
    margin-bottom: 0.5em;
    }

.title, .subtitle /* Pandoc title header (h1.title) */
    {
    text-align: center;
    }
.subtitle
    {
    font-size: medium;
    font-style: italic;
    }

.author, .date /* Pandoc author(s) and date headers (h2.author and h3.date) */
    {
    text-align: center;
    }

/* Pandoc table of contents DIV when using the --toc option. */
div#TOC, nav#TOC
    {
    /* Put border on bottom to separate it from body. */
    border-bottom: 1px solid;
    margin-bottom: 0.5em;
    }

div.figure, figure /* Pandoc figure-style image container */
    {
    /* Center the image and caption */
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    font-size:   small;
    }

table
    {
    /* Center */
    margin-left:  auto;
    margin-right: auto;
    }

span.math.display
    {
    /* Center */
    display:block;
    text-align:center;
    }
