* {
  border-color: #e8e8e8 !important;
}
a {
  color: #2a7ae2 !important;
}
a:visited {
  color: #1756a9 !important;
}
body {
  background-color: #fff6e5 !important;
  color: #111 !important;
}
html {
  background-color: #fff6e5 !important;
}
input,
textarea {
  background-color: #eee8d5 !important;
  color: #111 !important;
}
blockquote,
pre {
  background-color: #eee8d5 !important;
  color: #111 !important;
}
/* Code spans */
code {
  background-color: #fff6e5
}
/* Code blocks */
pre, pre > code {
  /* background-color: #E8E8E8; */
  background-color: #eee8d5 !important;
}
* {
  border-color: #e8e8e8 !important;
}
a {
  color: #2a7ae2 !important;
}
a:visited {
  color: #1756a9 !important;
}
body {
  background-color: #fff6e5 !important;
  color: #111 !important;
}
html {
  background-color: #fff6e5 !important;
}
input,
textarea {
  background-color: #eee8d5 !important;
  color: #111 !important;
}
blockquote,
pre {
  background-color: #eee8d5 !important;
  color: #111 !important;
}
